networks:
  lume:
    external: true

volumes:
  postgres_dev_data:
  postgres_staging_data:
  postgres_prod_data:

services:

  # ----------------------------
  # PostgreSQL Developer
  # ----------------------------
  postgres-developer:
    image: postgres:16
    container_name: postgres-developer
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
      POSTGRES_DB: lume_panel_developer
    ports:
      - "5433:5432"
    volumes:
      - postgres_dev_data:/var/lib/postgresql/data
    networks:
      - lume
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      retries: 5

  # Spring Boot Developer
  lume-developer:
    build: .
    container_name: lume-developer
    env_file:
      - .env.developer
    ports:
      - "8081:8080"
    depends_on:
      postgres-developer:
        condition: service_healthy
    networks:
      - lume
    restart: unless-stopped

  # ----------------------------
  # PostgreSQL Staging
  # ----------------------------
  postgres-staging:
    image: postgres:16
    container_name: postgres-staging
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
      POSTGRES_DB: lume_panel_staging
    ports:
      - "5434:5432"
    volumes:
      - postgres_staging_data:/var/lib/postgresql/data
    networks:
      - lume
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      retries: 5

  # Spring Boot Staging
  lume-staging:
    build: .
    container_name: lume-staging
    env_file:
      - .env.staging
    ports:
      - "8082:8080"
    depends_on:
      postgres-staging:
        condition: service_healthy
    networks:
      - lume
    restart: unless-stopped

  # ----------------------------
  # PostgreSQL Production
  # ----------------------------
  postgres-production:
    image: postgres:16
    container_name: postgres-production
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
      POSTGRES_DB: lume_panel_production
    ports:
      - "5435:5432"
    volumes:
      - postgres_prod_data:/var/lib/postgresql/data
    networks:
      - lume
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      retries: 5

  # Spring Boot Production
  lume-production:
    build: .
    container_name: lume-production
    env_file:
      - .env.production
    ports:
      - "8080:8080"
    depends_on:
      postgres-production:
        condition: service_healthy
    networks:
      - lume
    restart: unless-stopped
