### Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
.mvn/wrapper/maven-wrapper.jar

### Logs ###
*.log
logs/
*.out

### Spring Boot ###
application-*.yml
application-*.properties
# (descomente se quiser ignorar TODOS os application.yml)
# application.yml

### IntelliJ IDEA ###
.idea/
*.iml
out/

### VSCode ###
.vscode/

### Java ###
*.class
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
hs_err_pid*

### OS Files ###
# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store
.AppleDouble
.LSOverride

### Docker ###
docker-data/
docker-compose.override.yml

### Build ###
build/
bin/

### Environment Files ###
.env
.env.local
.env.development
.env.production

### Node (caso tenha front junto) ###
node_modules/
npm-debug.log
yarn-error.log

### Others ###
*.swp
*.swo
